.app {
    width: 200px;
}

.grid {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(6, 1fr);
}

.block {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    text-align: center;
}

.selected {
    border: 1px dashed red;
}
